<div class="container border">
  <div class="row d-flex flex-nowrap">
    <div class="col-auto d-flex flex-column h-800px bg-gray-100 pr-32px">
      <div
        class="menuBox d-flex align-items-center justify-content-center h-92px ms-4"
      >
        <img
          width="220px"
          src="../assets/images/logo-ANSWER.svg"
          alt="logo"
          class="cursor"
        />
      </div>

      <ul class="d-flex flex-column ps-0 mt-12px">
        <li class="list-unstyled pl-32px border-start border-light border-5 ml--12">
          <a
            href="#"
            class="text-decoration-none block d-flex align-items-center text-dark"
          >
            <span class="material-symbols-outlined fs-2 me-1">
              insert_chart
            </span>
            <p class="fs-6 lh-sm my-auto ms-4">Dashboard</p>
          </a>
        </li>
        <li
          class="list-unstyled mt-29px pl-32px border-start border-light border-5 ml--12"
        >
          <a
            href="#"
            class="text-decoration-none block d-flex align-items-center text-dark"
          >
            <span class="material-symbols-outlined fs-2 me-1"> forum </span>
            <p class="fs-6 lh-sm my-auto ms-4">Question</p>
          </a>
        </li>
        <li
          class="list-unstyled mt-29px pl-32px border-start border-success border-5 ml--12"
        >
          <a
            href="#"
            class="text-decoration-none block d-flex align-items-center text-success"
          >
            <span class="material-symbols-outlined fs-2 me-1">
              Assignment
            </span>
            <p class="fs-6 lh-sm my-auto ms-4">Assignment</p>
          </a>
        </li>
        <li
          class="list-unstyled mt-29px pl-32px border-start border-light border-5 ml--12"
        >
          <a
            href="#"
            class="text-decoration-none block d-flex align-items-center text-dark"
          >
            <span class="material-symbols-outlined fs-2 me-1">
              video_library
            </span>
            <p class="fs-6 lh-sm my-auto ms-4">Course</p>
          </a>
        </li>
        <li
          class="list-unstyled mt-29px pl-32px border-start border-light border-5 ml--12"
        >
          <a
            href="#"
            class="text-decoration-none block d-flex align-items-center text-dark"
          >
            <span class="material-symbols-outlined fs-2 me-1"> group </span>
            <p class="fs-6 lh-sm my-auto ms-4">Admin</p>
          </a>
        </li>
        <li
          class="list-unstyled mt-29px pl-32px border-start border-light border-5 ml--12"
        >
          <a
            href="#"
            class="text-decoration-none block d-flex align-items-center text-dark"
          >
            <span class="material-symbols-outlined fs-2 me-1"> Settings </span>
            <p class="fs-6 lh-sm my-auto ms-4">Settings</p>
          </a>
        </li>
      </ul>
      <div class="profile d-flex mt-auto mb-5 align-items-center">
        <img
          src="../assets/images/person-1.jpeg"
          alt="p1"
          class="rounded-circle ms-4"
          width="40"
          height="40"
        />
        <div class="profileContent ms-3">
          <p class="fs-4 mb-0">Andy Chen</p>
          <a
            href="mailto:toandy0401@mail.com"
            class="text-decoration-none text-dark"
            >andy0401@mail.com</a
          >
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="headerBox ml-20px h-92px d-flex align-items-center">
          <h2 class="fs-4 mb-0">Assignment</h2>
          <a href="#" class="ms-5 text-decoration-none text-dark d-flex"
            >All Courses<span class="material-symbols-outlined text-success ms-2">
              expand_more
            </span></a
          >
          <div class="headerIcons d-flex ms-auto">
            <a href="#" class="text-decoration-none text-dark">
              <span class="material-symbols-outlined"> search </span>
            </a>
            <a href="#" class="text-decoration-none text-dark">
              <span class="material-symbols-outlined ms-4">
                notifications_active
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="assignmentContent ml-20px mt-3">
          <div class="assignmentContentHeader d-flex">
            <p>All (4)</p>
            <a
              href="#"
              class="ms-auto text-gray-600 text-decoration-none text-dark fw-light"
              >2 comments</a
            >
          </div>
        </div>
      </div>
      <div class="assignmentGroup d-flex">
        <div class="row flex-nowrap">
          <div class="assignmentList col-5 ml-20px mt-2">
            <ul class="list-unstyled d-flex flex-wrap">
              <li class="bg-gray-100 p-12px border w-100">
                <div class="assignmentListTitle d-flex align-items-center">
                  <h5 class="lh-15px fw-normal font-12px mb-0">
                    Chapter Assignment 2
                  </h5>
                  <p class="time ms-auto lh-15px font-12px mb-0">4 hrs ago</p>
                </div>
                <div
                  class="assignmentListLink d-flex mt-1 align-items-center mb-0"
                >
                  <a
                    href="#"
                    class="lh-19px fw-bold text-decoration-none text-dark"
                  >
                    Please check this file…
                  </a>
                  <p class="time ms-auto lh-15px fw-light font-12px mb-0">
                    Emily Wang
                  </p>
                </div>
              </li>
              <li class="p-12px border border-top-0 w-100">
                <div class="assignmentListTitle d-flex align-items-center">
                  <h5 class="lh-15px fw-normal font-12px mb-0">
                    Chapter Assignment 1
                  </h5>
                  <p class="time ms-auto lh-15px font-12px mb-0">12 hrs ago</p>
                </div>
                <div
                  class="assignmentListLink d-flex mt-1 align-items-center mb-0"
                >
                  <a
                    href="#"
                    class="lh-19px fw-bold text-decoration-none text-dark"
                  >
                    My Homework
                  </a>
                  <p class="time ms-auto lh-15px fw-light font-12px mb-0">
                    David Xu
                  </p>
                </div>
              </li>
              <li class="p-12px border border-top-0 w-100">
                <div class="assignmentListTitle d-flex align-items-center">
                  <h5 class="lh-15px fw-normal font-12px mb-0">
                    Final Assignment
                  </h5>
                  <p class="time ms-auto lh-15px font-12px mb-0">18 hrs ago</p>
                </div>
                <div
                  class="assignmentListLink d-flex mt-1 align-items-center mb-0"
                >
                  <a
                    href="#"
                    class="lh-19px fw-bold text-decoration-none text-dark"
                  >
                    Have a problem with this…
                  </a>
                  <p class="time ms-auto lh-15px fw-light font-12px mb-0">
                    Tony Wei
                  </p>
                </div>
              </li>
              <li class="p-12px border border-top-0 w-100">
                <div class="assignmentListTitle d-flex align-items-center">
                  <h5 class="lh-15px fw-normal font-12px mb-0">
                    Final Assignment
                  </h5>
                  <p class="time ms-auto lh-15px font-12px mb-0">19 hrs ago</p>
                </div>
                <div
                  class="assignmentListLink d-flex mt-1 align-items-center mb-0"
                >
                  <a
                    href="#"
                    class="lh-19px fw-bold text-decoration-none text-dark"
                  >
                    Did I do it right?
                  </a>
                  <p class="time ms-auto lh-15px fw-light font-12px mb-0">
                    Christina Lin
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-7 assignmentContentDetail ms-3 mt-2">
            <ul class="list-unstyled d-flex flex-wrap">
              <li
                class="bg-gray-100 p-12px border w-100 d-flex justify-content-between align-items-center"
              >
                <div
                  class="assignmentContentDetailTitle d-flex flex-column justify-content-start"
                >
                  <h5 class="lh-15px fw-normal font-12px mb-0">
                    Chapter Assignment 2
                  </h5>
                  <a
                    href="#"
                    class="lh-19px fw-bold text-decoration-none text-dark mt-1"
                  >
                    Please check this file…
                  </a>
                </div>
                <div class="assignmentContentDetailOption">
                  <a
                    href="#"
                    class="text-decoration-none text-dark d-flex align-items-center"
                    ><span class="material-symbols-outlined"> more_vert </span></a
                  >
                </div>
              </li>
              <li
                class="assignmentContentDetailIntro p-12px border border-top-0 w-100 d-flex"
              >
                <div class="col-1 d-flex">
                  <img
                    src="../assets/images/person-2.jpg"
                    alt="person2"
                    width="40px"
                    height="40px"
                    class="rounded-circle"
                  />
                </div>
                <div class="col-11 ms-2">
                  <div
                    class="assignmentContentDetailIntroTitle d-flex flex-column mb-0 mr-32px"
                  >
                    <p class="mb-0 lh-19px fw-bold">Emily Wang</p>
                    <p class="lh-15px font-12px fw-light mt-1">
                      10:38 AM (4 hours ago)
                    </p>
                  </div>
                  <div class="assignmentContentDetailIntroContent mr-32px">
                    <p>
                      Hi Teacher, the attached file is my homework of chapter 2.
                      And here comes a question: Why in the following code the
                      height of the
                      <span
                        class="badge text-success bg-gray-100 lh-19px font-14px ps-1 pe-1 rounded-1"
                        >div</span
                      >
                      is bigger than the height of the img ? There is a gap below
                      the
                      <span
                        class="badge text-success bg-gray-100 lh-19px font-14px ps-1 pe-1 rounded-1"
                        >img</span
                      >, but it doesn’t seems to be a padding/margin. What is the
                      gap or extra space below image?
                    </p>
                  </div>
                  <div class="assignmentContentDetailIntroButton">
                    <button
                      type="button"
                      class="btn bg-gray-100 rounded-1 d-flex align-items-center text-gray-900 fw-bold"
                    >
                      <span class="material-symbols-outlined me-2">
                        attach_file
                      </span>
                      HW-2-David.zip
                    </button>
                  </div>
                </div>
              </li>
              <li
                class="assignmentContentDetailResponseTitle border border-top-0 w-100 d-flex align-items-center flex-wrap"
              >
                <div
                  class="assignmentContentDetailResponseTitleOption p-12px d-flex bg-gray-100 align-items-center w-100 border-bottom-1 border border-top-0 border-start-0 border-end-0"
                >
                  <div class="option d-flex align-items-center ms-4">
                    <a
                      href="#"
                      class="text-decoration-none text-dark d-flex align-items-center"
                    >
                      <p class="lh-19px fw-bold mb-0">Body Text</p>
                      <span class="material-symbols-outlined ms-2">
                        arrow_drop_down
                      </span>
                    </a>
                  </div>
                  <a
                    href="#"
                    class="text-decoration-none text-dark d-flex align-items-center"
                    ><span class="material-symbols-outlined ms-4">
                      format_bold
                    </span></a
                  >
                  <a
                    href="#"
                    class="text-decoration-none text-dark d-flex align-items-center"
                    ><span class="material-symbols-outlined ml-30px">
                      format_italic
                    </span></a
                  >
                  <a
                    href="#"
                    class="text-decoration-none text-dark d-flex align-items-center"
                    ><span class="material-symbols-outlined ml-30px">
                      list
                    </span></a
                  >
                  <a
                    href="#"
                    class="text-decoration-none text-dark d-flex align-items-center"
                  >
                    <span class="material-symbols-outlined ml-30px">
                      format_list_numbered
                    </span>
                  </a>
                  <a
                    href="#"
                    class="text-decoration-none text-dark d-flex align-items-center"
                    ><span class="material-symbols-outlined ml-30px">
                      image
                    </span></a
                  >
                  <a
                    href="#"
                    class="text-decoration-none text-dark d-flex align-items-center"
                    ><span class="material-symbols-outlined ml-30px">
                      link
                    </span></a
                  >
                  <a
                    href="#"
                    class="text-decoration-none text-dark d-flex align-items-center"
                  >
                    <span class="material-symbols-outlined ml-30px rotate-90">
                      unfold_more
                    </span>
                  </a>
                </div>
                <div class="responseText py-3 px-4  w-100">
                  <div>
                    <p class="lh-19px text-gray-400 ">Reply an answer…</p>
                  </div>
                  <div class="mt-212px d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-success text-success rounded-1 px-5 py-2 font-white">Cancel</button>
                    <button type="button" class="btn btn-success text-white rounded-1 px-5 py-2 ms-2">Reply</button>
                  </div>
                </div>
              </li>
          
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
