.text-gray-400{
    color:$gray-400;
}

.text-gray-600{
    color:$gray-600;
}

.text-gray-900{
    color:$gray-900;
}

.font-{
    &12px{
        font-size: .75rem;
    }
    &14px{
        font-size: .875rem;
    }
}